* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://user-images.githubusercontent.com/80723305/116153862-44185180-a6e8-11eb-9ce1-6fbaa094605e.png");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: rgb(9, 108, 173);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
}


/* Right-aligned link */
.navbar_wzn a.right {
    float: right;
}

/* Change color on hover */
.navbar_wzn a:hover {
    background-color: #ddd;
    color: black;
}

/* Active/current link */
.navbar_wzn a.active {
    background-color: rgb(9, 108, 173);
    color: white;
}


/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    background-color: ivory;
}

.wizzen2801 {
    width: 30%; 
    height:25%; 
    float: left; 
    text-align: center;
    margin-bottom: 12%;
}

.circle-img {
    border-radius: 50%;
    width: 40%;
    margin-top: 5%;
    
}

.info {
    margin-top: 15%;
    width: 15%; 
    height:7%; 
    float: left; 
    text-align: left;
}

.home {
    width: 20%;
    border-radius: 20%;
}

.email {
    width: 20%;
    border-radius: 20%;
}

.linkedin {
    width: 18%;
    border-radius: 20%;
}

.content_list {
    margin-top: 1%;
    margin-left: 2%;
    width: 70%; 
    height:auto; 
    text-align: left;
    color: #00b3b3;
    line-height: 200%;
}  
/* Main column */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 1% 0% 0% 3%;
}

.main_page {
    margin-top: 3%;
    margin-left: 20%;
}
.img {
    width: inherit;
    max-width: 100%;
    height: auto;
}

.dropbtn1 {
    background-color: #4d94ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    margin-right:-8px;
    padding: 13px;
    font-size: 13px;
}
.dropbtn2 {
    background-color: #4d94ff;
    margin-right:-8px;
    color: white;
    padding: 13px;
    font-size: 13px;
}
.dropbtn3 {
    background-color: #4d94ff;
    margin-right:-8px;
    color: white;
    padding: 13px;
    font-size: 13px;
}
.dropbtn4 {
    background-color: #4d94ff;
    margin-right:-8px;
    color: white;
    padding: 13px;
    font-size: 13px;
}

.dropbtn5 {
    background-color: #4d94ff;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    margin-right:-8px;
    color: white;
    padding: 13px;
    font-size: 13px;
}
.dropup {
    position: relative;
    display: inline-block;
}
  
.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropup-content a:hover {background-color: #ddd;}
  
.dropup:hover .dropup-content {display: block;}
  
.dropup:hover .dropbtn1 {background-color: #3e8e41;}
.dropup:hover .dropbtn2 {background-color: #ffff00;}
.dropup:hover .dropbtn3 {background-color: #ff3377;}
.dropup:hover .dropbtn4 {background-color: #00e6e6;}
.dropup:hover .dropbtn5 {background-color: #0000ff;}

.footer {
    padding: 1%;
    position: relative;
    height: 50px;
    background: rgb(9, 108, 173);
  }

.wrap {
    width: 40%;
    height: auto;
    margin-left: 20%;
}



.skin_view .area_view pre code { 
    background-color:transparent; border:0; margin:0; padding:0;
    outline:none; border-radius:0; font-family: Menlo,Consolas,Monaco,monospace; font-size:14px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 70%) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 40%) {
    .navbar a {
        float: none;
        width: 100%;
    }
}